.principal{
    width: 50vw;
    margin: 5em auto 6em auto;
}

.principal_titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--laranja);
}

.principal_subtitulo{
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: var(--azul);
    margin: 3em 0 2em 0;
}

.principal_titulo2{
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: var(--azul);
    margin: 3em 0 2em 0;
}


.campo_nome{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--azul);
    margin-left: 1em;
}

.campo__escrita{
    border: 1px solid var(--azul);
    border-radius: 8px;
    padding: 1em;
    width: 100%;
}

.formulario_botao{
    width: 100%;
}
.formulario_botao{
    background: var(--laranja);
    padding: 1em 4em;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: var(--branco);
    cursor: pointer;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}