@import url("formulario.css");

:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--laranja: #EB9B00;
--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
--fonte-principal: "Poppins";
--azul: #002F52;
--fonte-secundario: "Josefin Sans";
--preto: #000000;
--cinza: #474646;
--cinza-claro: #858585;
--vermelho: #D94937;
}

body {
background-color: var(--branco);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}